@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.login-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-section {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-illustration {
        width: 80%;
    }
}

img {
    object-fit: contain;
}

.right-section {
    flex: 1;
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;

    .login-form {
        display: flex;
        flex-direction: column;
        width: 55%;
    }
}

.form-control {
    border: 2px solid rgba(84, 95, 125, 0.15);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgba(84, 95, 125, 1);
    font-size: 14px;
    padding: 2% 0 2% 3%;
    background-color: rgb(252, 252, 252);

    &:focus {
        box-shadow: none;
        border: 2px solid rgba(84, 95, 125, 0.15);
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: rgba(84, 95, 125, 1);
        font-size: 14px;
        padding: 2% 0 2% 3%;
        background-color: rgb(252, 252, 252);
    }

    &::placeholder {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 12px;
        color: rgba(84, 95, 125, 1);
    }

    &:-ms-input-placeholder {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 12px;
        color: rgba(84, 95, 125, 1);
    }

    &::-ms-input-placeholder {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 12px;
        color: rgba(84, 95, 125, 1);
    }
}

.password-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;

    .toggle-show {
        position: absolute;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);
        color: rgba(57, 205, 204, 1);
        font-size: 10px;
        cursor: pointer;
        user-select: none;
    }
}

.btn-primary {
    background: rgba(57, 205, 204, 1);
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.05em;

    &:hover {
        background: rgb(32, 170, 170);
    }

    &:focus {
        box-shadow: none;
        background: rgb(32, 170, 170);
    }

    &:focus:active {
        box-shadow: none !important;
        outline: none !important;
        transform: none !important;
    }
}

.login-form-text {
    margin-bottom: 5%;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: xx-large;
    font-style: normal;
    color: rgba(33, 63, 125, 1);
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgba(84, 95, 125, 1);
}

h6 {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5%;
    color: rgba(57, 205, 204, 1);
    letter-spacing: 0.09em;
    cursor: pointer;
}