.layoutContainer {
    height: 100%;
    margin: 0;
    padding: 0;

    nav {
    }
    
    section {
        display: flex;
        flex-direction: row;
    }
    
    aside {
        width: 15%;
    }
    
    main {
        flex: 1;
        background-color: rgb(245, 242, 242);
    }
}

