.layoutContainer {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    section {
        display: flex;
        flex-direction: row;
        height: 90vh;
    }

    aside {
        width: 15%;
        background-color: white;
        overflow-x: hidden;
        overflow-y: auto;

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    main {
        flex: 1;
        background-color: rgb(245, 242, 242);
        padding: 3% 3% 0% 3%;
        border: 1px solid purple;

    }
}